
.settings/org.eclipse.core.resources.prefs
.classpath
.project
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
*.version
.metadata/.log
*.prefs
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.xml
*.class
*.class
*.dat
*.cfs
*.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3
*.gen
*.lock
*.ser
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3
*.log
*.properties
*.zip
*.index
*.tree
*.resources
*.xmi
*.setup
*.mark
.metadata/.plugins/org.eclipse.m2e.core/nexus/3322a4076993e6bc461dc19bfe5f9aca/segments_3
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.ini
*.class
/target/
